* {
  box-sizing: border-box;
}
body,
html {
  margin: 0px;
  overflow-x: hidden;
  text-align: center;
  margin: 0;
  padding: 0;
  color: $white;
  font-family: "Raleway", sans-serif;
  background: url("./../images/background.svg") no-repeat scroll;
  background-size: cover;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

code {
  font-size: 2rem;
  word-break: break-word;
}

pre {
  margin: 0;
}
