@import "variables", "mixins", "resets", "effects";

.flex-column {
  @include flex-center(column);
}

.flex-row {
  @include flex-center(row);
}

button {
  font-size: 1rem;
  padding: $base-padding/1.5;
  background: none;
  border: 2px solid $white;
  color: $white;
  margin: 1rem;
  max-width: 80vw;
  min-width: 93px;
  margin: 3rem 0 0 0;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;

  @media (min-width: $tablet) {
    padding: $base-padding;
  }

  &:hover {
    background: rgba($navbar-color, 0.5);
  }

  .angle-double-down {
    margin-left: 10px;
  }
}

.navbar {
  background: $navbar-color;
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: fixed;
  width: 100vw;
  border-bottom: 3px solid lighten($navbar-color, 13%);

  .nav-links {
    background-color: darken($navbar-color, 7%);
    top: 60px;
    position: absolute;
    width: 100%;
    transition: all 0.3s ease-in-out;
    border-bottom: 3px solid $navbar-color;

    @media (min-width: $tablet) {
      transition: none;
      display: flex;
      top: 0;
      background: $navbar-color;
    }
  }

  .link {
    padding: $base-padding;
  }

  .visible {
    height: 220px;
    padding: $base-padding/2;

    @media (min-width: $tablet) {
      transition: none;
      justify-content: space-evenly;
      padding: $base-padding/2;
      height: auto;
    }
  }

  .hidden {
    opacity: 0;
    overflow: hidden;
    height: 0;
    padding: 0;

    @media (min-width: $tablet) {
      transition: none;
      justify-content: space-evenly;
      display: flex;
      opacity: 1;
      overflow: visible;
      height: auto;
      padding: $base-padding/2;
    }
  }

  .hamburger-wrapper {
    display: flex;
    justify-content: flex-end;

    @media (min-width: $tablet) {
      transition: none;

      display: none;
    }
  }

  .hamburger {
    width: fit-content;
    margin: 1rem 0.8rem;

    .line {
      width: 30px;
      height: 4px;
      background-color: white;
      margin: 4px;
      transition: all 0.2s ease-out;
    }

    #top-line.open {
      transform: rotate(45deg) translateY(5px) translateX(6px);
      width: 35px;
    }

    #bottom-line.open {
      transform: rotate(-45deg) translateY(-6px) translateX(5px);
      width: 35px;
    }

    #middle-line.open {
      opacity: 0;
      transform: rotate(180deg);
    }
  }
}

.section-wrapper {
  background-color: $white;
  width: 100%;
}

#home {
  height: 100vh;
}

.home-text {
  min-width: 204px;
  width: 99%;
  margin-top: 30%;

  .job {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 0 $base-padding;
  }

  #greeting {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: -moz-fit-content;
    width: fit-content;
    padding: $base-padding;
  }

  .highlight {
    color: $highlight;
  }
}

.header {
  border-bottom: 3px solid $navbar-color;
  width: fit-content;
  margin: 0 auto;
}

h1 {
  color: $navbar-color;
  font-size: 2rem;
  margin-bottom: 0;
}

h3 {
  color: $black;
  text-align: center;
}

p {
  color: $black;
  font-size: 1.1rem;
}

.icons-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
  flex-wrap: wrap;
  margin-top: -0.5rem;
}

.paragraph {
  padding: 1rem 1rem 0 1rem;
}

.icon {
  width: 16%;
  margin: 1rem;
}

#projects {
  img {
    width: 80%;
    border: 2px solid $grey;
    border-radius: 5px;
    transition: all 0.2s ease-in;
    margin-bottom: 2rem;

    &:hover {
      width: 75%;
    }
  }

  strong {
    display: inline-block;
    font-size: 1.7rem;
    margin: 3px;
    transition: all 0.1s ease-in;

    &:hover {
      color: lighten($navbar-color, 30%);
      font-size: 2rem;
      margin: 0;
    }
  }

  p {
    text-align: left;
    width: 80%;
    margin: 1rem auto;
  }

  .description {
    text-align: center;
  }

  #project-description {
    margin-bottom: 4rem;
  }

  .projects-list {
    margin-bottom: 3rem;
  }
}

#contacts {
  p {
    text-align: left;
    width: 80%;
    margin: auto auto 1rem auto;
    width: fit-content;
    font-size: 1.5rem;
  }

  .section-wrapper {
    height: 100vh;
  }

  .means-of-contact {
    margin-top: 15vh;

    @media (min-width: $tablet) {
      margin-top: 20vh;
    }
  }

  .description {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 2rem;
  }
}

#footer {
  padding: 2rem;
  border: none;
  background: $navbar-color;
}
